#first{
    color: saddlebrown;
    text-align: center;
    width: 100%;
    padding-top: 18%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin-bottom: 10px;
}
#ref{
    font-size: 18px;
    color: rgb(146, 98, 57);
    margin-top: 20px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(146, 98, 57);
    padding: 10px 20px;
    border-radius: 10px;

}
#para{
    display: inline-block;
    width: 90%;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 32px;
}
#ref:hover{
    background-color: saddlebrown;

}
.hii{
    display: inline-block;
    max-width: 425px;
    max-height: 500px;
    

}
#last{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#p1,#p3,#p5{
    background-color: saddlebrown;
}

h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 10px;


}
p{
    font-size: 20px;
}
#p4,#p3,#p5{
    
 width: 65vh;
 padding-right: 15px;
 text-align: center;
 text-transform: capitalize;

}
